\input{preamble}

\begin{document} % начало документа
    \begin{center}
        {{ if .PreviousDate }}
        \large{\textbf{Статистика за период c {{ .PreviousDate }} по {{ .LatestDate }} }}
        {{ else }}
        \large{\textbf{Статистика за {{ .LatestDate }} }}
        {{ end }}
    \end{center}
    \begin{flushright}
        сгенерировано утилитой \href{https://github.com/Zhbert/colligendis}{colligendis} (\href{https://github.com/Zhbert/colligendis/releases/tag/{{ .Version }}}{ {{ .Version }}})\footnote{Вы можете скачать эту версию утилиты по ссылке.
Последнюю версию можно найти \href{https://github.com/Zhbert/colligendis/releases}{в разделе releases} на GitHub.} с помощью \LaTeX \\
        дата генерации: \today
    \end{flushright}
    \tableofcontents
    \section{Блог на Хабре}
        \subsection{Краткая статистика}
            \begin{itemize}
              \setlength{\itemsep}{-2mm}
              \item Просмотров за период: \textbf{ {{ .AllViewsCount }} }
              \item Всего статей в блоге: {{ .ArticlesCount }}
              \item Опубликовано статей за эту неделю: {{ .CountOfLastArticles }}
              \item Всего авторов: {{ .AuthorsCount }}
              \item Записей статистики в БД: {{ .StatsInBaseCount }}
            \end{itemize}
        {{ if .LatestArticlesFromWeek }}
        \subsubsection{Опубликованные на этой неделе статьи}
            \begin{table}[H]
            \begin{threeparttable}
            \begin{tabularx}{\textwidth}{|X|l|l|l|l|}
            \hline
            \textbf{Название статьи} & \textbf{Автор} & \textbf{Дата публикации} & \textbf{Дней назад*} & \textbf{Кол-во просмотров} \\ \hline
            {{ range .LatestArticlesFromWeek }}
            {{ .Name }} (\hyperlink{link-{{ .HabrNumber }}}{график статистики}) & {{ .Author.Name }} & {{ .Date.Format "2006-01-02" }} & {{ .DayBefore }} & {{ .Growth }} \\ \hline
            {{ end }}
            \end{tabularx}
            \notebox{\textbf{*} — с даты генерации страницы. \newline Дата генерации страницы может отличаться от даты последней загрузки статистики в БД.}
            \caption{Статьи, опубликованные на этой неделе}
            \end{threeparttable}
            \end{table}
        {{ end }}
        \subsubsection{Топ-5 популярных статей за неделю (по просмотрам)}
            \begin{table}[H]
            \begin{threeparttable}
            \begin{tabularx}{\textwidth}{|X|l|l|}
            \hline
            \textbf{Название статьи} & \textbf{Дата публикации} &  \textbf{Кол-во просмотров} \\ \hline
            {{ range .AllArticlesPerWeek }}
            {{ .Name }} (\hyperlink{link-{{ .HabrNumber }}}{график статистики}) & {{ .Date.Format "2006-01-02" }} & {{ .Growth }} \\ \hline
            {{ end }}
            \end{tabularx}
            \caption{Топ-5 популярных статей за неделю (по просмотрам)}
            \end{threeparttable}
            \end{table}
        \subsubsection{Топ-5 статей за весь период}
            \begin{table}[H]
            \begin{threeparttable}
            \begin{tabularx}{\textwidth}{|X|l|l|}
            \hline
            \textbf{Название статьи} & \textbf{Дата публикации} &  \textbf{Кол-во просмотров} \\ \hline
            {{ range .AllArticlesGlobalWithLimit }}
            {{ .Name }} (\hyperlink{link-{{ .HabrNumber }}}{график статистики}) & {{ .Date.Format "2006-01-02" }} & {{ .Views }} \\ \hline
            {{ end }}
            \end{tabularx}
            \caption{Топ-5 популярных статей за весь период (по просмотрам)}
            \end{threeparttable}
            \end{table}
        \subsubsection{Топ-5 авторов за все время}
            \begin{table}[H]
            \begin{threeparttable}
            \begin{tabularx}{\textwidth}{|X|l|l|}
            \hline
            \textbf{Никнейм} & \textbf{Количество статей} \\ \hline
            {{ range .AuthorsTopGlobal }}
            {{ .Name }} & {{ .ArticlesCount }} \\ \hline
            {{ end }}
            \end{tabularx}
            \caption{Топ-5 авторов за все время}
            \end{threeparttable}
            \end{table}
        \subsection{Статистика глобальная}
            \subsubsection{Все статьи в блоге}
                Отсортировано по количеству просмотров за неделю.
                 \begin{longtable}{|p{0.60\textwidth}|*{3}{p{0.10\textwidth}|}}
                 \hline
                 \textbf{Название статьи} & \textbf{Дата публикации} &  \textbf{Общее кол-во просмотров} & \textbf{Кол-во просмотров за неделю} \\ \hline
                 \hline \endfirsthead
                 {{ range .AllArticlesGlobal }}
                 {{ .Name }} (\hyperlink{link-{{ .HabrNumber }}}{график статистики}) & {{ .Date.Format "2006-01-02" }} & {{ .Views }} & {{ .Growth }} \\ \hline
                 {{ end }}
                 \caption{Все статьи в блоге}
                 \end{longtable}
            \subsubsection{Все авторы блога}
            Отсортированы по имени.
                 \begin{longtable}{|p{0.65\textwidth}|p{0.25\textwidth}|}
                 \hline
                 \textbf{Имя автора} & \textbf{Количество статей} \\ \hline
                 \hline \endfirsthead
                 {{ range .Authors }}
                 {{ .Name }} & {{ .ArticlesCount }} \\ \hline
                 {{ end }}
                 \caption{Все авторы блога}
                 \end{longtable}
        \subsection{Графики изменений}
            \subsubsection{График просмотров за последние {{ .WeeksCount }} недель}
                \begin{tikzpicture}
                    \begin{axis}[
                        xlabel={Дата статистики},
                        ylabel={Кол-во просмотров},
                        scaled ticks=false,
                        legend pos = north west,
                        table/col sep = semicolon,
                        width = 0.85\paperwidth,
                        grid = major,
                        date coordinates in=x,
                        date ZERO=2024-05-01,   % <-- needs to be set for v1.12 and below
                        xtick=data,
                        xticklabel style={
                        rotate=90,
                        anchor=near xticklabel,
                        },
                        yticklabel style={/pgf/number format/fixed},
                        % set the label style of the `xtick's
                        xticklabel=\day.\month.\year,
                        ]
                        \legend{Просмоты за период (неделя)};
                        \addplot table [col sep=comma,x=date,y=count] {articlesCount.csv};
                    \end{axis}
                \end{tikzpicture}
            \subsubsection{Графики просмотров для каждой статьи в блоге}
                {{ range .EachArticleStats }}
                \begin{tikzpicture}
                    \begin{axis}[
                        xlabel={Дата статистики},
                        ylabel={Кол-во просмотров},
                        scaled ticks=false,
                        legend pos = north west,
                        table/col sep = semicolon,
                        width = 0.85\paperwidth,
                        grid = major,
                        date coordinates in=x,
                        date ZERO=2024-05-01,   % <-- needs to be set for v1.12 and below
                        xtick=data,
                        xticklabel style={
                        rotate=90,
                        anchor=near xticklabel,
                        },
                        yticklabel style={/pgf/number format/fixed},
                        % set the label style of the `xtick's
                        xticklabel=\day.\month.\year,
                        ]
                        {{ range . }}
                        \addplot table [col sep=comma,x=date,y=count] {habr-csv-{{ .HabrNumber }}.csv};
                        \addlegendentry{ {{ .HabrNumber }} }
                        {{ end }}
                    \end{axis}
                \end{tikzpicture}

                Статьи на графике:
                \begin{itemize}
                \setlength{\itemsep}{-2mm}
                {{ range . }}
                    \item \hypertarget{link-{{ .HabrNumber }}} --- {{ .Name }}
                {{ end }}
                \end{itemize}
                {{ end }}
    \section{Системная информация}
        \subsection{Хабр}
            Всего записей статистики в базе данных: {{ .StatsInBaseCount }}:
            \begin{itemize}
                \setlength{\itemsep}{-2mm}
                {{ range .AllDates }}
                \item {{ . }}
                {{ end }}
            \end{itemize}
\end{document}